In [11]:
# writing in a csv file
import csv
import pandas as pd
data = {"Name": ["Naira", "Tahira","Hira", "Mah Jabeen"],
        "Age": [24, 23, 22, 23]}
data = pd.DataFrame(data)
data.to_csv("Friends.csv", index=False)
print(data.head())

         Name  Age
0       Naira   24
1      Tahira   23
2        Hira   22
3  Mah Jabeen   23

In [12]:
# reading a csv file
import pandas as pd
data = pd.read_csv("Friends.csv")
print(data.head())

         Name  Age
0       Naira   24
1      Tahira   23
2        Hira   22
3  Mah Jabeen   23